.about-project {
    max-width: 1280px;
    padding: 110px 70px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.about-project__content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.about-project__content-header {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin: 0;
    letter-spacing: -0.04em;
}

.about-project__content-unit {
    margin-left: 40px;
}

.about-project__content-unit:first-child {
    margin-left: 0;
}

.about-project__content-description {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0;
}

.about-project__timing {
    display: flex;
    flex-direction: column;
    margin-top: 93px;
}

.about-project__timing-visual {
    display: flex;
}

.about-project__timing-part-one {
    width: 20%;
    margin: 0;
    color: #FFFFFF;
    background: #3456F3;
    text-align: center;
    line-height: 36px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.about-project__timing-part-two {
    width: 80%;
    margin: 0;
    background: #F2F2F2;
    text-align: center;
    line-height: 36px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.about-project__timing-description {
    display: flex;
    margin-top: 14px;
}

.about-project__timing-part-one-description {
    width: 20%;
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    line-height: 17px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.about-project__timing-part-two-description {
    width: 80%;
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    line-height: 17px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .about-project__content-unit {
        margin-left: 30px;
    }
    
    .about-project__content-description {
        margin-top: 22px;
    }

    .about-project {
        padding: 90px 50px;
    }
}
@media screen and (max-width: 500px) {
    .about-project {
        padding: 70px 18px;
    }
    
    .about-project__content {
        flex-direction: column;
        margin-top: 60px;
    }
    .about-project__content-unit {
        margin: 56px 0 0;
    }

    .about-project__content-unit:first-child {
        margin-top: 0;
    }
    
    .about-project__content-header {
        font-size: 18px;
        line-height: 21.78px;
    }
    
    .about-project__content-description {
        font-size: 11px;
        line-height: 16px;
        margin-top: 16px;
    }

    .about-project__timing {
        margin-top: 60px;
    }

    .about-project__timing-part-one {
        width: 35.2%;
        font-size: 11px;
    }

    .about-project__timing-part-two {
        font-size: 11px;
    }

    .about-project__timing-part-one-description {
        width: 35.2%;
        font-size: 11px;
    }

    .about-project__timing-part-two-description {
        font-size: 11px;
    }

    .about-project__timing-description {
        margin-top: 10px;
    }
}
