.movies__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-items: center;
    padding: 70px 0 28px;
    box-sizing: border-box;
    margin: 0;
}

.movies__more {
    padding: 50px 0 80px;
}

.movies__more-button {
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background: #F4F4F4;
    border-radius: 6px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    padding: 0;
    cursor: pointer;
}

.movies__more-button:hover {
    opacity: 0.8;
}

.movies__more-button_type_unvisible {
    display: none;
}

.movies__more_text_type_unvisible {
    display: none;
}

.movies__more_type_unvisible {
    display: none;
}

.movies__more-no-text {
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14.52px;
    padding: 0;
    color: grey;
}

.movies__more-no-text_type_saved-movies {
    margin-top: 66px;
}

.movies__empty-container {
    height: 30vh;
}

@media screen and (max-width: 768px) {
    .movies__list {
        padding: 70px 0 12px;
    }
}

@media screen and (max-width: 500px) {
    .movies__list {
        padding: 40px 10px 13px;
    }

    .movies__list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-row-gap: 39px;
    }

    .movies__more {
        padding: 50px 10px 80px;
    }
}