.search {
    padding: 80px 0 10px;
}

.search__container {
    border-bottom: 1px solid #E8E8E8;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 39px;
}

.search__area {
    display: flex;
    align-items: center;
}

.search__input {
    width: 100%;
    border: none;
    background: #F4F4F4;
    height: 50px;
    border-radius: 8px;
    outline: none;
    padding: 0 20px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.search__input::placeholder {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.search__icon {
    width: 30px;
    height: 30px;
    display: flex;
}

.search__button {
    border: none;
    outline: none;
    padding: 7px;
    background-color: #3456F3;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.search__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .search {
        padding: 80px 14px 10px;
    }
    
    .search__input {
        height: 44px;
    }
}